{% extends 'base.html'%}
{% block title %}
Login
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1 class="title">Login</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="error">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/login">
            <div class="input-box">
                <input type="email" name="email" placeholder="Email" autofocus="" required>
                <i class='bx  bx-envelope'></i> 
            </div>
            <div class="input-box">
                <input type="password" name="password" placeholder="Password" required>
                <i class='bx  bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
                <a href="#">Forgot password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="link">
                <p>Don't have an account? Register <a href="/register/">here</a></p>
            </div>
        </form>
    </div>
{% endblock %}